body{
    text-align: center;
    font-family: "Arial";
    color: deeppink;
}

#Contenido{
    font-size: 25px;
    background-color: teal;
}
#cabecera{
    background-color:  red;
    color: white;
    font-size: 20px;
}